Package: com.samgisaninja.sillyo
Name: sillyo
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Compatibility layer for Sileo/unc0ver
Maintainer: unc0ver Team
Author: unc0ver Team
Section: Tweaks
Version: 0.0.1-1+debug
Installed-Size: 104
